html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: bal;
    padding: 3rem 9.8rem;
    font-family: 'Montserrat', sans-serif;
}

header,
section {
    opacity: 0;
    animation: section 0.8s forwards;
    animation-delay: 0.5s;
}

@keyframes section {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

p {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
}

h2 {
    font-size: 1.8rem;
    font-weight: 900;
    padding-bottom: 1rem;
}


/* Nav Section*/

.logo {
    width: 4.5rem;
}

.navbar-brand {
    font-weight: 700;
    font-size: 2.4rem;
    position: absolute;
    padding: 0 8px;
}

.navbar {
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

nav {
    background-color: white;
}

.navbar:hover {
    color: gray;
}

.collapse {
    justify-content: right;
    font-weight: 600;
}

.nav-link {
    color: black;
    padding: 0;
    margin: 0 10px;
}

.nav-link:hover {
    color: #666666;
}


/*Sections*/

.row {
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 0px;
}

.hero_section,
.why_section,
.what_section {
    padding: 0;
}

.hero,
.why,
.what {
    padding-top: 11rem;
    padding-bottom: 11rem;
}

.hero_img,
.why_img,
.what_img {
    display: flex;
    justify-content: center;
}

.button {
    padding: 10px 20px;
    background-color: white;
    border-radius: 40px;
    font-weight: 600;
    margin: 20px 0;
}

.button:hover {
    background-color: #dedede;
}

.menu_list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px 20px;
}

img {
    height: 90%;
}

h3 {
    text-align: center;
}

.socials {
    margin: 4rem 0;
    justify-content: center;
}

a {
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.scl_names {
    padding: 0 1rem;
    font-size: 1.3rem;
}

.col-lg-3 {
    display: flex;
    justify-content: center;
}

@media (max-width: 1460px) {
    body {
        padding: 2rem 5rem;
    }
    .svgimg {
        padding: 3rem;
    }
    .col-lg-3 {
        display: flex;
        justify-content: f;
        padding: 1rem;
    }
}

@media (max-width: 991px) {
    h2,
    h3,
    p {
        text-align: center;
    }
    .hero,
    .why,
    .what {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .svgimg {
        padding: 0 3rem;
    }
    .scl_names {
        margin: 10px;
    }
    #col-rev {
        display: flex;
        flex-direction: column-reverse;
    }
}